*{
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#mainc{
    width: 99%;
    height: 99vh;
    /* border: 1px solid black; */
    display: flex;
}
#left{
    width: 35%;
    height: 99vh;
    /* border: 1px solid red; */
}
#right{
    width: 73.8%;
    height: 99vh;
    /* border: 1px solid blue; */
    background-color: #f0ebe3;
}
.chat{
    width: 100%;
    height: 8vh;
    /* border: 1px solid ; */
}
#chat1{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#ch{
    width: 30%;
    height: 8vh;
    display: flex;
    align-items: center;
    /* border: 1px solid darkblue; */
    justify-content: center;
}
#menu{
    margin-left: 0.7em;
    font-size: 1.2em;
    padding: 0.4em 0.8em;
    border-radius: 10em;
    color: #54656f;
}
#menu:hover{
    background-color: rgb(209, 204, 204);
}
#add{
    font-size: 1.2em;
    padding: 0.4em 0.5em;
    border-radius: 10em;
    color: #54656f;
}
#add:hover{
    background-color: rgb(209, 204, 204);
}
#chat2{
    display: flex;
    align-items: center;
    justify-content: center;
}
#fa{
    background-color: #f0f2f5;
    width: 10%;
    height: 4.4vh;
    border-right: none;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
}

#search{
    padding: 0.7em;
    width: 70%;
    height: 1.5vh;
    border-left: none;
    background-color: #f0f2f5;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
}
#chat3{
    display: flex;
    align-items: center;
    
}
.a{
    padding: 0.6em;
    border: none;
    background-color: #f0f2f5;
    border-radius: 1em;
    margin-left: 1em;
    box-shadow: 1px 1px 1px gray;
}
.a:hover{
    background-color: rgb(182, 176, 176);
}
#all{
    padding: 0.5em 1em;
    background-color: #e7fce3;
    color: #008069;
}
.contact{
    width: 100%;
    height: 10vh;
    border-bottom: 1px solid #98a4aa;
    display: flex;
    align-items: center;
    
}
.contact:hover{
    background-color: rgb(196, 186, 186);
}
#main{
    width: 100%;
    height: 75vh;
    overflow-y: scroll;
    overflow-x: hidden;
}
#default{
    width: 16%;
    height: 8vh;
    border-radius: 10em;
}
#af{
    margin-left: 0.5em;
}
#ra{
    background-color: #25d366;
    padding: 0.25em 0.6em;
    border-radius: 10em;
    color: white;
    margin-left: 12em;
}
#z{
    font-size: 0.7em;
    color: #54656f;
}
header{
    width: 99.8%;
    height: 10vh;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    background-color: #f0f2f5;
}
#default1{
    width: 8%;
    height: 8vh;
    border-radius: 10em;
}
#sa{
    margin-left: 1em;
    
}
#video{
    margin-left: 27em;
    font-size: 1.2em;
    color: #54656f;
}
#solid{
    margin-left: 1em;
    font-size: 1.2em;
    color: #54656f;
}
#men{
    margin-left: 1em;
    font-size: 1.2em;
    color: #54656f;
}
#hello{
    background-color: white;
    border-radius: 1em;
    padding: 0.7em;
    width: 4em;
    text-align: center;
    margin-top: 3em;
    margin-left: 1em;
}
#hey{
    background-color: #d9fdd3;
    border-radius: 1em;
    padding: 0.7em;
    width: 4em;
    text-align: center;
    margin-left: 41em;
}
footer{
  width: 99.8%;
  height: 9vh;
    /* border: 1px solid aqua; */
    margin-top: 28.5em;
    background-color: white;
    display: flex;
    align-items: center;
    background-color: #f0f2f5;
}
#smile, #fas,#mic{
    font-size: 1.4em;
    color: #54656f;
    margin-left: 1em;
}
#search1{
    width: 78%;
    height: 3vh;
    padding: 0.4em;
    margin-left: 1em;
    border-radius: 1em;
    border: #404d55;
}
